TZ=
APP_NAME=AlertsBot
APP_DESCRIPTION=Detects potentially good market entry points
APP_VERSION=
APP_PORT=

BITSO_BASE_URL=https://api.bitso.com/api/v3
BITSO_API_KEY=
BITSO_API_SECRET=

DB_HOST=
DB_DIALECT=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_ROOT_PASSWORD=

TELEGRAM_API_URL=https://api.telegram.org/bot
TELEGRAM_API_TOKEN=
TELEGRAM_RECIPIENT=
